@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #111827;
}

@media print {
  nav,
  footer,
  .print\:hidden {
    display: none !important;
  }

  body {
    background: white;
  }
}
